* {
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  margin: 20px; }
  @media only screen and (max-width: 562px) {
    body {
      margin: 10px; } }

header {
  min-height: calc(100vh - 40px);
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 5px; }
  header .name {
    display: flex;
    justify-content: space-around;
    font-weight: 700; }
    header .name div p {
      background: white;
      padding: 6px; }
    header .name nav {
      display: flex;
      justify-content: space-between;
      list-style: none; }
      header .name nav a {
        text-decoration: none;
        color: black;
        margin: 14px; }
        header .name nav a li {
          background: white;
          padding: 6px; }
      @media only screen and (max-width: 562px) {
        header .name nav {
          display: none; } }
  header .about {
    display: flex;
    justify-content: center;
    margin: 240px 0 20px 0; }
    header .about h1 {
      width: 95px;
      background-color: white;
      padding: 3px; }
      @media only screen and (max-width: 727px) {
        header .about h1 {
          width: 95px; } }
    header .about p {
      width: 515px;
      background-color: white;
      padding: 3px; }
      @media only screen and (max-width: 727px) {
        header .about p {
          width: 300px; } }
      @media only screen and (max-width: 562px) {
        header .about p {
          width: 250px; } }

.portfolio {
  background-color: #E1EDF6;
  border-radius: 5px; }
  .portfolio .port,
  .portfolio .port-last {
    border-bottom: 1px solid #9CAEA9;
    display: flex;
    margin: 16px;
    padding: 25px 2px;
    justify-content: space-between; }
    @media only screen and (max-width: 727px) {
      .portfolio .port,
      .portfolio .port-last {
        display: block;
        padding: 15px 0;
        border-bottom: 1px solid #9CAEA9; } }
    .portfolio .port img,
    .portfolio .port-last img {
      width: 50%;
      height: 300px;
      box-shadow: 1px 3px 15px 6px #899094; }
      @media only screen and (max-width: 727px) {
        .portfolio .port img,
        .portfolio .port-last img {
          width: 100%;
          height: 300px; } }
      @media only screen and (max-width: 562px) {
        .portfolio .port img,
        .portfolio .port-last img {
          width: 100%;
          height: 200px; } }
    .portfolio .port .text,
    .portfolio .port-last .text {
      width: 40%; }
      @media only screen and (max-width: 727px) {
        .portfolio .port .text,
        .portfolio .port-last .text {
          width: 100%; } }
  .portfolio .port-last {
    border-bottom: none; }
  .portfolio .port-first {
    margin: 10px;
    padding: 45px 5px;
    border-bottom: 1px solid #9CAEA9; }
    @media only screen and (max-width: 562px) {
      .portfolio .port-first {
        padding: 20px 5px; } }
  .portfolio h3 {
    background-color: white;
    padding: 7px;
    width: 130px; }

footer {
  padding: 25px;
  background-color: #D0E3C4;
  border-radius: 5px;
  text-align: center; }
  footer .contact {
    margin: 0 auto;
    width: 600px;
    padding: 50px;
    display: flex;
    justify-content: space-around; }
    @media only screen and (max-width: 662px) {
      footer .contact {
        justify-content: space-between;
        padding: 50px 0;
        width: 270px; } }
  footer p {
    margin: 0 auto;
    background-color: white;
    width: 450px;
    padding: 10px; }
    @media only screen and (max-width: 562px) {
      footer p {
        width: 270px; } }

/*# sourceMappingURL=main.css.map */
